.footer-copyright {
  background-color: #222;
  color: #555;
  padding: 40px 0;
  text-align: center;
  line-height: 0;
}

.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
