<div class="px-3">
  <div
    class=
      "position-relative
      d-flex
      justify-content-end"
  >
    <div class="tm-bg-dark content-pad">
      <h2 class="mb-4 text-info">En Çok Okunanlar</h2>

      <div
        *ngIf="articles.length === 0"
        class="d-flex justify-content-center text-primary"
      >
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>

      <h3 *ngFor="let article of articles">
        <strong>
          <a
            [routerLink]="['/makale', article.title | urlformat, article.id]"
            class="btn btn-link align-items-center text-white-50 text-decoration-none text-left"
            ><i class="fa fa-arrow-circle-right text-white-50"></i>
            {{ article.title }}
          </a>
        </strong>
      </h3>
    </div>
  </div>
</div>
