<!-- <main class="page">
  <div class="page-content">

       Placeholder Content
      <div class="placeholder-content">
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
          <div class="placeholder-content_item"></div>
      </div>
  </div>
</main> -->


























<div *ngIf="articles.length>0 else emptyTemplate">
  <div *ngFor="let article of articles | paginate:{itemsPerPage:pageSize,currentPage:page,totalItems:totalCount}">
    <ng-container
    *ngTemplateOutlet="verticalTemplate;context:{id:article.id,title:article.title,picture:article.picture,
    viewCount:article.viewCount,commentCount:article.commentCount,contentSummary:article.contentSummary,categoryName:article.category.name,
    publishDate:article.publishDate}">
  </ng-container>
  </div>
</div>

<ng-template ng-template #emptyTemplate>

  <div class="alert alert-danger" role="alert">
    Makale bulunamadı :(
  </div>
</ng-template>


    <div class="container">
      <div class="row">
        <ng-template
  let-title="title" let-picture="picture" let-viewCount="viewCount" let-commentCount="commentCount"
  let-contentSummary="contentSummary" let-categoryName="categoryName" let-publishDate="publishDate"
  let-id="id" #verticalTemplate>


          <div
            class="card text-white card-has-bg click-col"
              style="background-image:url('../../assets/images/articleEmpty.PNG');">
            <img
              class="card-img d-none"
              [src]="picture || defaultArticle"/>

            <div class="card-img-overlay d-flex flex-column"
            [routerLink]="['/makale',title | urlformat,id]">
              <div class="card-body">
                <small class="card-meta mb-2">{{categoryName}}</small>
                <h2 class="card-title mt-0">
                  <a class="text-dark">{{title}}</a>
                </h2>
                <p class="card-text">{{contentSummary}}</p>
                <hr>
                <small class="mx-2"><i class="far fa-clock"></i>{{publishDate | date:'dd.MM.yyyy'}}</small>

                <span class="mx-2">
                  <small><i class="fas fa-eye"></i>{{viewCount}}</small>
                </span>

                <span class="mx-2">
                  <small><i class="fas fa-comment"></i>{{commentCount}}</small>
                </span>

              </div>
              <div class="card-footer">
                <div class="media">
                  <img
                    class="mr-3 rounded-circle"
                    src="../../../assets/images/myAvatar.png"
                    alt="Generic placeholder image"
                    style="max-width: 50px"/>
                  <div class="media-body">
                    <h5 class="my-0 text-white d-block">Batuhan Arık</h5>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </ng-template>
      </div>
    </div>

    <pagination-controls
    *ngIf="totalCount > pageSize"
     responsive="true"(pageChange)="pageChanged($event)" previousLabel="Geri" nextLabel="İleri">
    </pagination-controls>





